#toolbar{
  position: absolute;
  top: 0%;
  height: 35px;
  left: 0%;
  right: 0%;
}
#topWrapper {
  position: absolute;
  top: 35px;
  /*top: 50px;*/
  left: 0%;
  right: 0%;
  bottom: 75%;
  border: 1px solid #a0a0a0;
  #innerTopLeft{
    position: absolute;
    padding: 5px 5px 5px 5px;
    width: 85%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
  #innerTopRight {
    position: absolute;
    padding: 5px 5px 5px 10px;
    text-align: center;
    left: 85%;
    top: 0%;
    width: 15%;
    height: 100%;
    border-left:1px solid #a0a0a0;
    overflow-y: scroll;
    overflow-x: hidden;
    #innerTopRightTop{
      position: absolute;
      padding: 5px 5px 5px 5px;
      top: 0%;
      width: 100%;
      height: 50%;
      left: 0%;
    }
  }
}
#rightWrapper {
  border-bottom: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-right:  1px solid #a0a0a0;
  position: absolute;
  padding: 10px;
  top: 25%;
  left: 50%;
  right: 0%;
  bottom: 0%;
  #rightToolbarWrapper{
    border-bottom: 1px solid #a0a0a0;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 35px;
  }
  #rightComparisonWrapper{
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
}
#leftWrapper{
  top: 25%;
  left: 0%;
  right: 50%;
  bottom: 0%;
  position: absolute;
  #leftToolbarWrapper{
    border-bottom: 1px solid #a0a0a0;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 35px;
  }
  #leftTreeWrapper{
    position: absolute;
    top: 35px;
    left: 0%;
    right: 0%;
    bottom: 0%;
    #leftTopWrapper {
      position: absolute;;
      border-bottom: 1px solid #a0a0a0;
      top: 0%;
      bottom: 50%;
      height: 50%;
      left: 0%;
      right: 0%;
        #leftTopLeftWrapper{
          position: absolute;
          top: 0%;
          bottom: 0%;
          right: 50%;
          left: 0%;
        } 
        #leftTopRightWrapper{
          position: absolute;
          //border-right: 1px solid #a0a0a0;
          top: 0%;
          bottom: 0%;
          right: 0%;
          left: 50%;
        }
     }
     #leftBottomWrapper {
      position: absolute;;
      top: 50%;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }
  }
}
#projectionWrapper{
  visibility: hidden;
  top: 25%;
  left: 0%;
  right: 50%;
  bottom: 0%;
  position: absolute;
}