.projection-nodes{
	r: 4px;
	fill: gray;
  opacity: 1;
}
.projection-link-nodes{
  r: 4px;
  fill: gray;
  opacity: 1;
}
.projection-node-path {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}
.projection-node-point {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 3px;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
circle[class~=opacity-click-unhighlight] {
  opacity: 1;
  fill: gray;
  stroke: black;
}
circle[class~=opacity-selection-highlight]{
  opacity: 1 !important;
}
circle[class~=opacity-selection-unhighlight]{
  opacity: 0.2 !important;
  stroke: gray !important; 
}
circle[class~=opacity-click-highlight] {
  /*fill: #ff5858 !important;*/
  opacity: 1 !important;
  fill: black !important;
  stroke: black !important;
  r: 6px;
  //fill: gray;
  //opacity: 1 !important;
}
circle[class~=opacity-unhighlight]{
  opacity: 0.2;
  stroke: gray;
}
circle[class~=opacity-highlight]{
  fill: black;
  opacity: 1 !important;
}
circle[class~=opacity-similarity-highlight]{
  fill: black !important;
  opacity: 1 !important;
}