.node {
  cursor: pointer;
}

.node circle {
  /*fill: #fff;*/
  /* stroke: steelblue; */
  stroke-width: 2px;
}
.nodecircle2{
  stroke: #FF7F0E;
}
.node text {
  font: 10px sans-serif;
}

.node[class~=highlight] > circle{
  fill: #b2df8a;
  stroke: #b2df8a;
}
.radial-route-node-inner{
  fill: #4A4AFF;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
.radial-route-link{
  stroke-width:1px;
  stroke: #4A4AFF;
  fill:none;
}
.axis line,
.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.line{
  fill:none;
  stroke:steelblue;
  stroke-width:1px;
}
.axis text {
	font-size: 10px;
	//text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	cursor: move;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
//g[class~=opacity-non-similar] > circle
//  opacity: 0.5;
//}
.opacity-non-similar{
  opacity: 0.5;
}
.node-remove{
  stroke: #c0c0c0 !important;
  stroke-width: 2px !important;
}
.path-remove{
  fill: #c0c0c0 !important;
  stroke: #c0c0c0 !important;
}