.text{
  font-size: 12px;
}
.time{
  font-size: 12px;
}
.size{
  font-size: 12px;
}
.tick_label{
  font-size: 12px;
}
#mainTimeline .bar {
  fill: #C0C0C0;
}
.label-wrapper > .label  {
  pointer-events: none;
  cursor: not-allowed;  
  color: white;
}
#tree-select-controller {
  text-align: right;
}
#label-C {
  margin-top: 0.3em;
  padding-top: 0.3em;
  border-top: 1px solid gray;
}
.hover{
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.click, .unclick, .default{
  stroke: gray;
  stroke-width: 2px;
  fill: none;
}
 #mainTimeline .selection {
    stroke: black !important;
    stroke-width: 1.5px !important;
    opacity: 1 !important;
   // stroke-location: 
  }